<!-- <div id="form-skills">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <div *ngFor="let skill of inputSkills; index as i;">
      
      {{skill.skillName}}
    </div> -->

    <!-- <div *ngFor="let skill of inputSkills; index as i;">
      <div class="form-group">
        <label>skill id: {{skill.skillId}}</label>
        <input type="number" formControlName="sk{{i}}" value="{{skill.skillName}}">
        <input type="hidden"  value="Thailand" name="skillname-{{i}}"> 
      </div>
    </div> -->

    <!-- <div class="form-group">
      <label>Feedback:</label>
      <input type="text" name="feedback" formControlName="feedback">
    </div>
    <div class="form-group">
      <label>Suggestion:</label>
      <input type="text" name="sugesstion" formControlName="sugesstion">
    </div> -->

    <!-- <div class="modal-footer">
      <div class="row">
        <div class="col-12" style="text-align: center">
          <button type="button" class="btn btn-primary"
            (click)="[submitForm(), onSubmit()]"><b>SubmitReview</b></button>&nbsp;
        </div>
      </div>
    </div>

  </form>
</div> -->