<!-- <div class="col-lg-12 col-12 ">
  <button (click)="toggle()" id="bt" class="btn btn-primary mb-2 mt-3" [disabled]="!this.show2">
    {{buttonName}}
  </button></div>


<ng-container *ngIf="show">
  <div class="col-lg-10 col-12 text-center" id="features">
    <div class="row justify-content-center">
      <div class="col-10">


        <div id="form-skills">
          <form [formGroup]="form">
            <div *ngFor="let skill of inputSkills; index as i;">
              <span style="display:none;">{{sID[i] = skill.skillId}}</span>
              <div class="form-group">
                <label>skill id: {{skill.skillId}}</label>
                <input type="number" class="form-control" formControlName="sk{{i}}">
                <span style="color: red;" *ngIf="form.get('sk'+ i).errors?.required"><small>Skill {{skill.skillId}}
                    required</small></span>
              </div>
            </div>

            <div class="form-group">
              <label>Feedback:</label>
              <textarea type="text" name="feedback" class="form-control" style="height:100px" maxlength="200"
                formControlName="feedback"></textarea>

            </div>
            <div class="form-group">
              <label>Suggestion:</label>
              <textarea type="text" name="sugesstion" style="height:100px" maxlength="200" class="form-control"
                formControlName="sugesstion"></textarea>

            </div>

            <div class="modal-footer">
              <div class="row">

                <div class="col-12 text-center" style="text-align: center">
                  <button type="button" class="btn btn-primary" (click)="[submitForm(),disable()]"
                    [disabled]="!form.valid"><b>Submit</b></button>&nbsp;
                </div>
              </div>
            </div>
          </form>
        </div>


      </div>
    </div>
  </div>
</ng-container> -->