#full {
  background: linear-gradient(#3b5a96, #8fb1f2);
  height: auto;
    max-height: auto;
    min-height: 100vh;    
}

#features {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 25px;
  background-color: white;
  /* height: 100%;  */
  /* text-align: center; */
  /* width: 50%; */
}

input.form-control {
  /* width: 170px; */
  height: 60px;
  border-radius: 6px;
  background: #fff;
  border: 2px solid #97b9f8;
}

button#submit {
  width: 110px;
  height: 40px;
  /* border-radius: 100px; */
  /* background: #4b7ad1; */
  box-shadow: 0px 12px 14px rgba(0, 0, 0, 0.16);
}

button.btn-lg{
  border-radius: 100px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

label {
  color: #4B7AD1
}

.mat-button-toggle {
  color: white;
  background-color: #4B7AD1;
  border-radius: 100px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.mat-button-toggle-checked {
  background-color: rgb(16, 72, 177);
  color: rgb(255, 255, 255);
}
