<div id="full">
  <div class="container">
    <div class="row justify-content-center">

      <div class="col-lg-12 text-center py-3">
        <h3 style="color: white">Oscore</h3>
      </div>
      <div class="col-lg-4 col-11" id="features">
        <div class="row">
          <div class="col mx-2 my-3">
            <label>
              <h5>Manage Group</h5>
            </label><br><br>

            <form [formGroup]="form">

              <div class="row">
                <div class="col-10 mt-2 text-left"><b>Group number</b></div>
                <div class="col-5 mt-3 ml" style="border: 1px">
                  <input type="text" formControlName="groupNumber" class="form-control" id="group">
                </div>
                <div class="col-2 mr-3 mt-3">
                  <button (click)="loopTextbox()" type="submit" class="btn btn-primary">Confirm</button><br><br>
                </div>
                <div class="col-3 ml-4 mt-3">
                  <button (click)="submitForm()" [routerLink]="['/addmetric']" type="button"
                    class="btn btn-primary">Next</button>
                </div>
              </div>
              <div class="col-12 mt-3" *ngFor="let num of groups">
                <input type="number" class="form-control" style="text-align: center" value="{{num}}" disabled><br>
              </div>



            </form>
            <!-- 
              <div class="row">

                <div class="col-lg-12">
                  <input type="number" class="form-control" formControlName="group1" id="group1"
                    placeholder="1. Group 1"><br>
                  <input type="number" class="form-control" formControlName="group2" id="group2"
                    placeholder="2. Group 2"><br>
                  <input type="number" class="form-control" formControlName="group3" id="group3"
                    placeholder="3. Group 3"><br>
                </div>
              </div> -->


          </div>
        </div>
      </div>

    </div>
  </div>
</div>