<div id="full">
  <div class="container">
    <div class="row justify-content-center">
      <!-- <div class="col-12" style="text-align: right">
        <button type="button" class="btn btn-primary" [disabled]="!form.valid"
          (click)="submitForm()"><b>Login</b></button>&nbsp;
        <button type="button" class="btn btn-primary" data-toggle="modal" data-backdrop="static"
          data-target="#regisModal" data-dismiss="modal" [routerLink]="['/studentregister']"><b>Register</b></button>
      </div> -->

      <div class="col-lg-12 text-center py-3">
        <h3 style="color: white">Oscore</h3>
      </div>
      <div class="col-lg-6 col-10 mx-3 py-3" id="features">
        <div class="col-12 pb-4">
          <h5><b>Student Login</b></h5>
        </div>

        <form [formGroup]="form" (ngSubmit)="form.valid && onSubmit()" th:action="@{/j_spring_security_check}"
          method='POST'>
          <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" id="email" formControlName="email"
              [ngClass]="{'is-invalid': form.get('email').touched && form.get('email').invalid}" placeholder="Email">
            <div *ngIf="form.get('email').touched && form.get('email').invalid" class="invalid-feedback">
              <div *ngIf="form.get('email').errors.required">Email is required!</div>
              <div *ngIf="form.get('email').errors.email">Email is invalid!</div>
            </div>
          </div>
          <div class="form-group">
            <label for="InputPassword">Password</label>
            <input type="password" class="form-control" id="loginPassword" formControlName="loginPassword"
              [ngClass]="{'is-invalid': form.get('loginPassword').touched && form.get('loginPassword').invalid}"
              placeholder="Password">
            <div *ngIf="form.get('loginPassword').touched && form.get('loginPassword').invalid"
              class="invalid-feedback">
              <div *ngIf="form.get('loginPassword').errors.required">Password is required!</div>
              <div *ngIf="form.get('loginPassword').errors.minlength">Password must be atleast 4 characters!</div>
            </div>
          </div>

          <div class="modal-footer">
            <div class="row">
              <div class="col-12" style="text-align: right">
                <button type="button" class="btn btn-primary" [disabled]="!form.valid"
                  (click)="submitForm()"><b>Login</b></button>&nbsp;
                <button type="button" class="btn btn-primary" data-toggle="modal" data-backdrop="static"
                  [routerLink]="['/studentregis']"><b>Register</b></button>
              </div>

            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>