<div id="full">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 text-center py-2">
                <h3 style="color: white">Oscore</h3>
            </div>

            <div class="col-lg-4 col-md-7 col-sm-9 col-12 px-3 my-3 py-3" id="features">
                <div class="row">

                    <div class="col-lg-12" style="margin: 0 0 30px 0">
                        <div class="row">
                            <div class="col-lg-12 mx-3">
                                <h5><b>Your Workshop</b></h5>
                            </div>

                            <div *ngFor="let workshop of workshops"
                                class="col-lg-10 border-bottom border-primary border-1 mx-4" style="color:grey;">
                                <div class="row">
                                    <div class="col-lg-8 col-md-8 col-7">
                                        <br><label><b>Workshop
                                                Name:</b>
                                            {{workshop.title}}</label><br><br>
                                        <b>Description: </b><br>
                                        <p style="font-size: 13px">{{workshop.description}}</p><br>
                                        <b>Date Start: </b><br>
                                        <p style="font-size: 13px">{{workshop.start}}</p><br>
                                        <b>Date End: </b><br>
                                        <p style="font-size: 13px">{{workshop.end}}</p><br><br>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col mt-4 text-left">
                                        <img src="assets/edit.svg" style="height: 28px" [routerLink]="['/editworkshop']"
                                            (click)="editAsWorkshop(workshop)">&nbsp;
                                        <app-qrcode-goqr [workshop]="workshop"></app-qrcode-goqr>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12 col-12 pt-5 text-center">
                                <button [routerLink]="['/addworkshop']" type="submit" id="submit"
                                    class="btn btn-primary">
                                    <small>Create new workshop</small>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>