<div class="container">
  <div class="row justify-content-center">


    <div class="col-10 text-left" style="padding: 0 0 0 0" id="friendInfos">
      <label>
        <b>Id : {{user.userId}}<br>
          FirstName : {{user.firstName}}<br>
          Lastname : {{user.lastName}}</b>
      </label>
    </div>

    <div class="col-12">

      <app-review-form [inputSkills]="skills" [inputUser]="user"></app-review-form>
      <!-- </ng-container> -->
    </div>

  </div>
</div>
<!-- <div id="user-skills" *ngFor="let skill of skills"></div> -->