<div id="full">
  <div class="container">
    <div class="row justify-content-center">


      <div class="col-lg-12 text-center py-3">
        <h3 style="color: white">Oscore</h3>
      </div>
      <div class="col-lg-4 col-10 mx-3 py-3" id="features">
        <div class="row">
          <div class="col mx-4 my-3">
            <h4><b>New Workshop</b></h4><br>
            <form [formGroup]="form">
              <label for="workshop">Workshop</label>
              <div class="row">
                <div class="col-lg-12">
                  <input type="string" class="form-control" formControlName="workshop" id="workshop"
                    placeholder="ID Workshop">
                </div>
              </div><br>

              <div class="row">

                <div class="col-lg-12">
                  <label for="birthday">Start Date</label>
                  <input type="date" class="form-control" formControlName="date" id="date" placeholder="Date"
                    value="2019-05-27"><br>
                </div>
              </div><br>
              <div class=" col-lg-12 text-right">
                <button (click)="submitForm()" [routerLink]="['/addgroup']" type="button"
                  class="btn btn-primary">Next</button></div>
            </form>

          </div>
        </div>
      </div>


    </div>
  </div>
</div>