<div id="full">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12 text-center py-2">
        <h3 style="color: white">Oscore</h3>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-9 col-10 mx-2 my-3 py-3" id="features">
        <div class="row justify-content-center">

          <div class="col-lg-12 pt-3 pb-2 text-center">
            <h4><b>O-Review Result</b></h4>
          </div>
          <div class="col mt-3 mb-3" style="max-height:50%; max-width: 50%">
            <img src="assets/girl.svg">
          </div>
          <div class="col-12 mt-3 mx-5">
            <label>
              <b>{{studentProfile.firstName}}
                {{studentProfile.lastName}}</b><br>
              <b>Lean Startup</b>
            </label><br>
            <p>01/05/2019 - 01/06/2019
              Place: KK Building
              Instructor: Mr.A</p>
          </div>
          <div *ngFor="let studentScore of studentScores" class="col-12 ml-4 mt-2" style="border: 1px">
            <label><b> Skill name : </b></label>&nbsp;
            <b style="color: grey">{{studentScore.skillName}}</b><br>

            <label><b>Score : </b></label>&nbsp;
            <b style="color: grey">{{studentScore.avgScore}}</b>

            <div class="col-10 mt-3" style="padding: 0 0 0 30px">
              <div class="progress" id="valueOne">
                <div [ngStyle]="{'width.%':studentScore.avgScore}"
                  class="progress-bar progress-bar-striped progress-bar-animated">
                  {{studentScore.avgScore}}%</div>
                <div [ngStyle]="{'width.%':this.valueTwo-studentScore.avgScore}" class="progress-bar"
                  style="background: #AAB0BB">
                  {{this.valueTwo-studentScore.avgScore}}%</div>
              </div>
            </div>

            <br>
          </div>
          <div class="col-12 ml-5 pt-4">
            <label>
              <b>Feedback</b>
            </label></div>
          <div *ngFor="let studentFeedback of studentFeedbacks" class="col-12 ml-1 mt-2" style="max-width: 80%">
            <ul>
              <li>{{studentFeedback.feedback}}</li>
            </ul><br>
          </div>
          <div class=" col-12 ml-5 pt-4">
            <label>
              <b>Suggestion</b>
            </label></div>
          <div *ngFor="let studentFeedback of studentFeedbacks" class="col-12 ml-1 mt-4" style="max-width: 80%">
            <ul>
              <li>{{studentFeedback.suggestion}}</li>
            </ul><br>
          </div>


          <div class=" col-lg-12 col-12 pt-5 text-center">
            <button [routerLink]="['/profile']" type="submit" id="submit" class="btn btn-primary">
              <small>Submit</small>
            </button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>