<div class="modal fade" tabindex="-1" role="dialog" id="editprofile" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="color: #4B7AD1"><b>Edit Profile</b></h5>
      </div>
      <div class="modal-body">
        <form [formGroup]="editform" (ngSubmit)="editform.valid" th:action="@{/j_spring_security_check}" method='POST'>
          <div class="col-10 justify-content-center form-group">
            <label><b>Email</b></label>
            <input type="email" class="form-control" id="email" formControlName="email"
              [ngClass]="{'is-invalid': editform.get('email').touched && editform.get('email').invalid}"
              placeholder="Email">
            <div *ngIf="editform.get('email').touched && editform.get('email').invalid" class="invalid-feedback">
              <div *ngIf="editform.get('email').errors.required">Email is required!</div>
              <div *ngIf="editform.get('email').errors.email">Email is invalid!</div>
            </div>
            <label><b>Firstname</b></label>
            <input type="text" class="form-control" id="firstname" formControlName="firstname" placeholder="firstname">
            <label><b>Lastname</b></label>
            <input type="text" class="form-control" id="lastname" formControlName="lastname" placeholder="lastname">
            <label><b>Nickname</b></label>
            <input type="text" class="form-control" id="nickname" formControlName="nickname" placeholder="nickname">
            <label><b>Phone number</b></label>
            <input type="number" class="form-control" id="tel" formControlName="tel" placeholder="phone number">
          </div>

          <!-- <div class="form-group">
            <label for="InputPassword">Password</label>
            <input type="password" class="form-control" id="loginPassword" formControlName="loginPassword"
              [ngClass]="{'is-invalid': form.get('loginPassword').touched && form.get('loginPassword').invalid}"
              placeholder="Password">
            <div *ngIf="form.get('loginPassword').touched && form.get('loginPassword').invalid"
              class="invalid-feedback">
              <div *ngIf="form.get('loginPassword').errors.required">Password is required!</div>
              <div *ngIf="form.get('loginPassword').errors.minlength">Password must be atleast 4 characters!</div>
            </div>
          </div> -->

          <div class="modal-footer">
            <div class="row">
              <div class="col-5 text-right">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
              <div class="col-6 text-right">
                <button type="button" class="btn btn-primary" [disabled]="!editform.valid" (click)="submitForm()"
                  data-dismiss="modal"><b>submit</b></button>
              </div>
            </div>
          </div>
        </form>
      </div>


      <!-- <code>
          {{form.value | json}}
         </code> -->

    </div>
  </div>
</div>