#full{
    background: linear-gradient(#3B5A96, #8FB1F2);
    height: auto;
    max-height: auto;
    min-height: 100vh;
}

#features{    
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 25px;
    background-color: white;
    /* height: auto;  */
    /* text-align: center; */
  }


  label{
    /* text-align: color #4B7AD1; */
    color: #4B7AD1
}

.border-1 {
  border-width:2px !important;
}

.stars-outer {
  position: relative;
  display: inline-block;
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars-outer::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #ccc;
}

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #f8ce0b;
}

button#submit {
  width: 180px;
  /* height: 30px; */
  border-radius: 70px;
  /* background: #4b7ad1; */
  box-shadow: 0px 12px 14px rgba(0, 0, 0, 0.16);
  /* background-color: #4B7AD1; */
}

button#edit {
  width: 80px;
  height: 40px;
  border-radius: 70px;
  /* background: #4b7ad1; */
  box-shadow: 0px 12px 14px rgba(0, 0, 0, 0.16);
  /* background-color: #4B7AD1; */
}




/* nav > .nav.nav-tabs{

  border: none;
    color:#fff;
    background:#272e38;
    border-radius:0;

} */

nav > div a.nav-item.nav-link,
nav > div a.nav-item.nav-link.active
{
  border: none;
    padding: 15px 10px;
    color: grey;
    /* background:#353a41; */
    border-radius:0;
}

nav > div a.nav-item.nav-link.active:after
 {
  content: "";
  position: relative;
  bottom: -60px;
  left: -10%;
  border: 15px solid transparent;
  border-top-color: #4B7AD1 ;
}

.tab-content{
  /* background: #fdfdfd; */
    line-height: 20px;
    /* border: 1px solid #ddd; */
    border-top:5px solid #4B7AD1;
    padding:30px 25px;
}

nav > div a.nav-item.nav-link:hover,
nav > div a.nav-item.nav-link:focus
{
  border: none;
    background: #4B7AD1;
    color:#fff;
    border-radius:0;
    transition:background 0.20s linear;
}

