<div>
  <div>
    {{studentProfile.firstName}}
    {{studentProfile.lastName}}
  </div>
  <div *ngFor="let studentScore of studentScores">
    {{studentScore.skillName}} : {{studentScore.avgScore}}
  </div>
  <div>Feedback : </div>
  <div *ngFor="let studentFeedback of studentFeedbacks">
    <ul>
      <li>{{studentFeedback.feedback}}</li>
    </ul>
  </div>
  <div>Sugesstion : </div>
  <div *ngFor="let studentFeedback of studentFeedbacks">
    <ul>
      <li>{{studentFeedback.suggestion}}</li>
    </ul>
  </div>
</div>