<div class="row" style="margin: 60px 60px 60px 60px">
  <div class="col-lg-12 col" id="features" style="background-color: white; text-align: center;">
    <div class="row">
      <div class="col-12 py-3">
        <h3 style="color: grey;"><b>Features <b></b></b></h3>
      </div>
      <div class="col-lg-4 py">
        <img src="assets/feedback.svg" style="max-height:50%; max-width: 45%;">
        <br><br>
        <h4><b>O-Review</b></h4>
      </div>
      <div class=" col-lg-4 py">
        <img src="assets/mentorship.png" style="max-height:55%; max-width: 55%;">
        <br><br>
        <h4><b>O-Mentor</b></h4>
      </div>
      <div class="col-lg-4 py">
        <input type="image" src="assets/curriculum.svg" style="max-height:40%; max-width: 31%;"
          [routerLink]="['/profile']">
        <br><br>
        <a [routerLink]="['/profile']">
          <h4><b>O-Profile</b></h4>
        </a>
      </div>
    </div>
  </div>
</div>