<div id="full">
  <div class="container">
    <div class="row justify-content-center">

      <div class="col-lg-12 text-center py-3">
        <h3 style="color: white">Oscore</h3>
      </div>

      <div class="col-lg-6 mx-3 my-3 py-3" id="features">
        <div class="row justify-content-center">
          <div class="col-11 mt-4 mb-4 border-bottom border-primary border-1 text-center">
            <label>
              <h4><b>Review Instructor</b></h4>
            </label>
          </div>

          <div class="col-8">

            <div id="form-skills">
              <form [formGroup]="form">

                <div *ngFor="let skill of skillsForReview; index as i;">
                  <div class="form-group">
                    <span style="display:none;">{{sID[i] = skill.skillId}}</span>
                    <label><b>{{skill.skillName}}</b></label>
                    <input type="number" class="form-control" formControlName="sk{{i}}">
                  </div>
                </div>

                <div class="form-group">
                  <label><b>Feedback:</b></label>
                  <textarea type="text" name="feedback" class="form-control" style="height:100px" maxlength="200"
                    formControlName="feedback"></textarea>
                </div>
                <div class="form-group">
                  <label><b>Suggestion:</b></label>
                  <textarea type="text" name="suggestion" style="height:100px" maxlength="200" class="form-control"
                    formControlName="suggestion"></textarea><br>
                </div>
              </form>
            </div>
          </div>

          <div class="col-11 border-top border-primary border-1 text-center" style="text-align: center">
            <br><button type="button" class="btn btn-primary" (click)="submitForm()"><b>SubmitReview</b></button>&nbsp;
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
<!-- <div id="instructorInfos">
  <h3>Review INstructor</h3>

    <h4 style="color:black">{{instructor}}</h4> 

</div>

<div id="instructor-skills">
  <div class="xxx" *ngFor="let skill of skillsForReview">
    <label style="color:black">{{skill.skillName}}</label>
    <input type="number" id="skill-{{skill.skillId}}"> 
  </div>
</div>  -->

<!-- <div class="col-lg mx-3 py-3" id="features">
    <div class="row">
      <div class="col">
        <div id="form-skills">
          <div style="color: black;" id="instructor-profiles">
            <h4>First name </h4>
            <h4>Last name </h4>
            <h4>Nick name </h4>
            <h4>Workshop title </h4>
            <h4>Email </h4>
            <h4>Tel </h4>
          </div>
          <form [formGroup]="form"> 
            <div *ngFor="let skill of skillsForReview; index as i;">
              <div class="form-group">
                <span style="display:none;">{{sID[i] = skill.skillId}}</span>
                <label style="color:black;">{{skill.skillName}}</label>
                <input type="number" class="form-control" formControlName="sk{{i}}">
              </div>
            </div>
  
            <div class="form-group">
              <label style="color:black;">Feedback:</label>
              <textarea type="text" name="feedback" class="form-control" style="height:100px" maxlength="200"
                formControlName="feedback"></textarea>
            </div>
            <div class="form-group">
              <label style="color:black;">Suggestion:</label>
              <textarea type="text" name="suggestion" style="height:100px" maxlength="200" class="form-control"
                formControlName="suggestion"></textarea>
            </div>
  
            <div class="modal-footer">
              <div class="row">
                <div class="col-12" style="text-align: center">
                  <button type="button" class="btn btn-primary" (click)="submitForm()"><b>SubmitReview</b></button>&nbsp;
                </div>
              </div>
            </div> 
  
          </form>
        </div>
      </div>
    </div>
  </div> -->