#div_1 {
    background-color: white;
    
}

#banner {
    height: 300px;
    width: 100%;
    /* background-color: #ADD8E6; */
    background: rgb(173, 200, 236); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgb(60, 114, 184), rgb(173, 200, 236)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgb(60, 114, 184), rgb(173, 200, 236)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgb(60, 114, 184), rgb(173, 200, 236)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#3B5A96, #8FB1F2); /* Standard syntax */
    position: absolute;  top:0;left: 0; 
  }
  @media (min-width: 320px) {
    div#login{
        text-align: center;
    }
    div#regis{
        text-align: center;
        }
}


  @media (min-width: 576px) {
    div#login{
        text-align: right;
    }
    div#regis{
        text-align: right;
        padding: 17px
        }
}
    /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    div#login{
    text-align: right;
    }

    div#regis{
        text-align: right;
        padding: 17px
        }
}
    /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    div#login{
        text-align: right;
        }
    
        div#regis{
            text-align:center ;
            padding: 17px
            }

}
    /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    div#login{
        text-align: right;
        }
    
        div#regis{
            text-align:center;
            padding: 17px
            }
}
  
