<div id="div_1" class="container">
  <div class="row">
    <!--  -->
    <!--  -->
    <div class="col-lg-12 col-12" id="banner">
      <!--  -->
      <div class="row" id="div_2">
        <div class="col-lg-2 col-1 text-left py-3">
          <h1 style="color: white"><b>Oscore</b></h1>
        </div>
        <div id="login" class="col-lg-8 col-sm-8 col-12 py-3">
          <button class="btn btn-primary btn-lg active" data-toggle="modal" data-target="#Modal"><b>Login</b></button>
        </div>
        <div id="regis" class="col-lg-1 col-sm-1 col-12">
          <button class="btn btn-primary btn-lg active" data-toggle="modal"
            data-target="#regisModal"><b>Register</b></button>
        </div>
      </div>
      <!--  -->

      <app-feature></app-feature>
      <app-howto></app-howto>
      <!-- <app-qrcode></app-qrcode> -->
      <!--  -->
    </div>
    <!--  -->
    <!--  -->
  </div>
</div>

<app-login></app-login>
<app-register></app-register>