#full{
    background: linear-gradient(#3B5A96, #8FB1F2);
    height: auto;
    max-height: auto;
    min-height: 100vh;
    
}

#features{
    
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 25px;
    background-color: white;
    /* height: 100px;  */
    /* text-align: center; */

  }

button#submit {
    width: 100px;
    height: 40px;
    border-radius: 70px;
    /* background: #4b7ad1; */
    box-shadow: 0px 12px 14px rgba(0, 0, 0, 0.16);
    /* background-color: #4B7AD1; */
  }

  .border-1 {
    border-width:2px !important;
  }