<div id="full">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12 text-center py-3">
        <h3 style="color: white">Oscore</h3>
      </div>
      <div class="col-lg-4 col-md-5 col-sm-7 col-10 pt mb-3" id="features">
        <div class="col-12 mt-4 text-center">
          <label>
            <h5><b>Review Freinds</b></h5>
          </label>
        </div>
        <div class="col-12 mt-2 border-bottom border-primary border-1 text-center" style="border:1px solid"
          *ngFor="let user of users" id="outside">
          <app-review-friends [user]="user" class="col-12"></app-review-friends>
        </div>

        <div class="col-12 text-center" style="padding: 80px 0 40px 0 ">
          <button data-toggle="modal" data-target="#exampleModal" class="btn btn-primary" id="submit">Finish</button>
        </div>

      </div>
    </div>
  </div>




  <!-- ------- Modal ---------- -->

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Wait !!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <b>กรุณารอเพื่อนในกลุ่มรีวิวให้ครบก่อน แล้วค่อยกด Confirm !!!</b>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" id="exampleModal" [routerLink]="['/result']" class="btn btn-primary"
            data-dismiss="modal">Confirm</button>
        </div>


      </div>
    </div>
  </div>

  <!-- ------- Modal ---------- -->


</div>