<div id="full">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12 text-center py-2">
        <h3 style="color: white">Oscore</h3>
      </div>

      <div class="col-lg-4 col-10" id="features">
        <div class="row my-3 py-3">

          <div class="col-lg-12 mx-3">
            <h5><b>Edit Workshop</b></h5>
          </div>
          <br>

          <div class="col-12 ml-4"><br><label><b>Workshop Id:</b></label>
            {{this.workshop.workshopId}}<br><br>
          </div>

          <div class="col-10 ml-3" [formGroup]="form">
            <!-- <form [formGroup]="form"> -->
            <div class="form-group">
              <label for="InputTitle">Title</label>
              <input type="text" class="form-control" formControlName="title" id="InputTitle">
              <span style="color: red;" *ngIf="form.get('title').errors?.required">Title required</span>
            </div>
            <div class="form-group">
              <label for="InputDesc">Description</label>
              <input type="text" class="form-control" formControlName="desc" id="InputDesc">
              <span style="color: red;" *ngIf="form.get('desc').errors?.required">Description required</span>
            </div>
            <div class="form-group">
              <label for="InputStart">Start</label>
              <input type="date" class="form-control" formControlName="start">
              <span style="color: red;" *ngIf="form.get('start').errors?.required">Date required</span>
            </div>
            <div class="form-group">
              <label for="InputEnd">End</label>
              <input type="date" class="form-control" formControlName="end">
              <span style="color: red;" *ngIf="form.get('end').errors?.required">Date required</span>
            </div>
            <!-- </form> -->
          </div>

        </div>

        <div class="row">
          <div class="col-lg-6 col-6 pt-3 pb-2 text-center">
            <button (click)="editForm()" type="submit" id="submit" class="btn btn-primary" [disabled]="!form.valid">
              <small>Save</small>
            </button>
          </div>
          <div class="col-lg-6 col-6 pt-3 pb-2 text-center">
            <button type="submit" id="submit" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
              <small>Delete</small>
            </button>
          </div>
        </div>


      </div>


    </div>
  </div>
</div>

<!-- ----------------------------- Modal ---------------------------------------- -->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete workshop</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete <label><b>Workshop {{this.workshop.title}} ?</b></label>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" id="exampleModal" (click)="deleteForm()" class="btn btn-primary"
          data-dismiss="modal">Delete</button>
      </div>


    </div>
  </div>
</div>