<div class="row" style="margin: 60px 60px 60px 60px">
  <div class="col-lg-12 col" id="features" style="background-color: white; text-align: center;">
    <div class="row">
      <div class="col-12 py-3">
        <h3 style="color: grey;"><b>How to step</b></h3>
      </div>
      <div class="col-lg-4 py">
        <img src="assets/tool-shape-rounded-rectangle-square-stroke-3-13946.png"
          style="max-height:50%; max-width: 45%;">
        <br><br>
        <h4><b>1</b></h4>
      </div>
      <div class="col-lg-4 py">
        <img src="assets/tool-shape-rounded-rectangle-square-stroke-3-13946.png"
          style="max-height:50%; max-width: 45%;">
        <br><br>
        <h4><b>2</b></h4>
      </div>
      <div class="col-lg-4 py">
        <img src="assets/tool-shape-rounded-rectangle-square-stroke-3-13946.png"
          style="max-height:50%; max-width: 45%;">
        <br><br>
        <h4><b>3</b></h4>
      </div>
    </div>
  </div>
</div>